<div class="col-lg-2 col-md-3 col-sm-4 text-center">
    <div class="surrounder" data-bs-toggle="tooltip" title="Tooltip on top">
        <canvas class="jauge" data-value="{{ value }}"></canvas>
        <h5>{{ name }}</h5>
        <span class="hoverDescription">
            Une bonne description
        </span>
    </div>
</div>