{% extends 'base.html.twig' %}

{% block body %}
    <div class="row p-4">
        <div class="col-sm-4">
            <img style="width:100%;" src="{{ asset('images/20220322_124204.jpg') }}" alt="">
        </div>
        <div class="col-sm-8">
            <ul>
                <li>
                    <p style="font-size:17px;">Depuis toujours je suis passionné par l’informatique, depuis mon arrivée
                        en région parisienne,
                        j’ai travaillé pendant près de 12 ans dans les technologies des grands systèmes en technologie
                        COBOL et PACBASE, dans les domaines de l’assurance, de la banque du crédit. Mais j’ai souhaité
                        donné un nouvel élan à ma carrière en me dirigeant dans le monde du web.
                    </p></li>
                <li><p style="font-size:17px;">Ma philosophie est de d’étudier les technologies en autodidacte, car c’est en creusant soit même les sujets qu’on
                        se forge le gout pour le travail et la recherche de solutions. Dans cet esprit j’ai développé plusieurs sites, avec mes
                        connaissances apprises seules (en
                        <b>PHP</b>,
                        <b>javascript</b> et
                        <b>MySQL</b>), que j’ai ensuite pu approfondir et valider par des
                        formations en ligne ou en présentiel et une étude approfondie des
                        documentations. </p></li>
                <li><p style="font-size:17px;">Je peux aujourd’hui me prévaloir d’un certain nombre de missions dans
                        des domaines variés tels
                        que le E-Commerce, des sites institutionnels, ou encore dans l’industrie, lesquelles m'ont
                            fait acquérir une expertise avancée sur le framework front <b>Angular,</b>
                        <b>PHP</b>, et les frameworks php de
                        type MVC et notamment
                        <b>Symfony</b>. Ce site est lui-même développé dans
                        cette technologie.</p></li>
                <li><p style="font-size:17px;">Mes travaux qu'ils soient dans le cadre personnel ou professionnel sont
                        accompagnés d'une veille
                        permanente sur les technologies d'aujourd'hui.</p></li>
                <li>
                    <p style="font-size:17px;">A cette connaissance approfondie des technologies de développement s'ajoutent les technologies de
                        déploiment, c'est pourquoi j'ai porté à mon expertise, le fonctionnement des serveurs
                        <b>apache</b>,
                        des sytèmes d'exploitation <b>Linux</b>, mais égament le sytème de conteneurisation de <b>Docker</b>.</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
